 body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #52B788;
    flex: 1;
    font-size: 64px;
}


footer {
    background-color: #1b4332;
    flex: 1;
    font-size: 32px;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mouse Memoirs', sans-serif;
}

main {
    background-color: #b7e4c7;
    flex: 3;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 12px;
    align-items: center;
}

.grid {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-item {
    background-color: #52B788;
}

.grid-item:hover, .gridBtn:hover {
    transform: scale(1.1);
    border: 1px solid #1b4332;
    box-shadow: 0 0 1rem #1b4332;  
}

.gridBtn {
    background-color: #52B788;
    border: none;
    border-radius: 5%;
    padding: 15px 32px;
    font-size: 32px;
    font-family: 'Mouse Memoirs', sans-serif;
}

.trail {
    background-color: #1b4332;
}
@media (max-width: 612px), (max-height: 830px) {
    .grid {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 512px), (max-height:730px) {
    .grid {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 412px), (max-height:630px) {
    .grid {
        height: 340px;
        width: 340px;
    }
}

@media (max-height:540px) {
    .grid {
        height: 340px;
        width: 340px;
    }

    main {
        flex-direction: row;
    }
}
